/* Typography */

html, body {
	font-family: 'Foo Bar', sans-serif;
}

/* specificity wrapper for Gutenberg block editor preview */
body div h1 {
	font-family: 'Baz', serif;
	color: var(--color-secondary);
	margin-bottom: var(--gap-default);
}

/*noinspection ALL*/
@mixin heading--h1 .alignwide {
  background-color: whitesmoke;
}
